<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
    //<![CDATA[
    window.webpackManifest = {"0":"js/vendor.f96fbc7557dbb7f104a7.js","1":"js/app.ab3cb3381ab0a2b12480.js"}
    </script>
</head>
<body>
    <div id="app"></div>
</body>
</html>